body{
    font-family:Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: cyan;
    color: aliceblue;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
}
.container{
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(red, green, blue, alpha);
    width: 700px;
    padding: 30px;
    margin-top: 200px;
}
button.a{
    border-radius: 10px;
    box-shadow: o 6px 10px rgba(red, green, blue, alpha);
    background-color: red;
    color: white;
    width: 200px;
    height: 100px;
    margin: 10px;
}
button.b{
    border-radius: 10px;
    box-shadow: o 6px 10px rgba(red, green, blue, alpha);
    background-color: rgb(47, 0, 255);
    color: white;
    width: 200px;
    height: 100px;
    margin: 10px;
}
button.c{
    border-radius: 10px;
    box-shadow: o 6px 10px rgba(red, green, blue, alpha);
    background-color: rgb(229, 255, 0);
    color: white;
    width: 200px;
    height: 100px;
    margin: 10px;
}
button.d{
    border-radius: 10px;
    box-shadow: o 6px 10px rgba(red, green, blue, alpha);
    background-color: rgb(0, 255, 21);
    color: white;
    width: 200px;
    height: 100px;
    margin: 10px;
}