*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: white;
    padding: 0;
    margin: 0;
}
header{
    background: white;
    color: black;
    padding: 14px 50px;
    display: center;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.header h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 14px 22px;
    background: rgb(160, 6, 6);
    color: rgb(161, 5, 5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    position: sticky ;
    top: 0;
    z-index: 40;
    margin-top: 30px;

}
.title{
    font-size: 25px;
    margin-top: 80px;

}
.farmacia{
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.logo{
    height: 80px;
    width: auto;
    border-radius: 6px;
    background: transparent;
    padding: 2px;
}
header h2{
    font-size: 40px;
    padding: 40px;

}
header nav a{
    color: bisque;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: o.3s;
   
}
header nav a:hover{
    color: burlywood;
}
h2{
    margin: 30px 0 15px;
    text-align: center;
    color: white;
}
form{
    width: 400px;
    background: white;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    border-radius: 8px;
}
label{
    font-weight: bold;
    color: black;
}
footer{
    margin-top: 40px;
    background: grey;
    color: white;
    text-align: center;
    padding: 15px;
}
    html, body{
        height: 100%;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer{
        background: firebrick;
        color: white;
        text-align: center;
        padding: 15px;
        margin-top: auto;
    }
    h2{
        color: black;
    }
    h3{
        height: 80px;
        width: auto;
        border-radius: 6px;
        padding: 2px;
    }
    .logo{
        display: flex;
        grid-template-columns: repeat;
        gap: 70px;
        align-items: stretch;
    }
    .vitamina{
       display: flex;
        grid-template-columns: repeat;
        gap: 70px;
        align-items: stretch;
    }
    .Protetor{
        display: flex;
        grid-template-columns: repeat;
        gap: 70px;
        align-items: stretch;

    }
    .Dipirona{
     display: flex;
        grid-template-columns: repeat;
        gap: 70px;
        align-items: stretch;

    }
    .Buscopan{
     display: flex;
        grid-template-columns: repeat;
        gap: 70px 90px;
        align-items: stretch;

    }
    .Hidratante{
     display: flex;
        grid-template-columns: repeat;
        gap: 70px;
        align-items: stretch;

    }
    .Fralda{
     display: flex;
        grid-template-columns: repeat;
        gap: 70px;
        align-items: stretch;

    }



    